*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome';  
$black: #000000;
$green: #00AD68;
$red: #EE0033;
body {
    box-sizing: border-box;
    padding: 0 !important; 
    font-size: 14px;  
    line-height: 1.5;
    transition: .3s all; 
    position: relative;
    font-weight: 400;
    font-family: 'Sans';
    background: #fff;
    &.active { 
        overflow: hidden;
    }
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;        
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;  
    }     
    a { 
        transition: .3s all !important; 
        color: #000000;  
        &:hover {
            color: $green;      
        }    
    } 
    ul {    
    	padding: 0;  
    	margin: 0;  
    }   
    input, button {    
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all; 
    }
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1200px;
    } 
    img {
        max-width: 100%;
    }
}

.slick-slider {
    margin-bottom: 0;
}

.avarta {
    overflow: hidden;
    img {
        transition: .4s all !important;
        &:hover {
            transform: scale(1.05);
        }
    }
}

@import "layer.scss";

.product {
    padding: 100px 0;
}
.list-prd {
    .row {
        margin: 0 -24px;
        .col-md-6 {
            padding: 24px;
        }
        .col-md-4 {
            padding: 0 24px;
        }
    }
}
.item-prd {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: url('../images/prd-after.png') no-repeat center;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
    .info {
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        z-index: 2;
        pointer-events: none;
        a {
            display: block;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 10px;
        }
    }
}
.pagination {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid #9A9AB0;
        border-radius: 100%;
        color: #9A9AB0;
        font-size: 16px;
        font-weight: 700;
        &.active, &:hover {
            color: $red;
            border: 2px solid $red;
        }
    }
}
.slider-for {
    margin-bottom: 16px;
}
.slider-nav {
    margin: 0 -8px;
    .clc {
        padding: 0 8px;
    }
}
.thumb-preview {
    img {
        border-radius: 8px;
    }
}
.info-preview {
    padding-left: 30px;
    h1 {
        font-size: 48px;
        margin-bottom: 30px;
        font-weight: 700;
    }
    .desc {
        p {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-main {
        padding: 30px 0;
        a {
            display: inline-flex;
            height: 50px;
            font-size: 16px;
            font-weight: 700;
            background: $red;
            color: #fff;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            padding: 0 26px;
            border: 1px solid $red;
            &:hover {
                color: $red;
                background: #fff;
            }
        }
    }
}
.bread {
    margin-bottom: 45px;
    li {
        padding-right: 25px;
        position: relative;
        &:after {
            content: ">";
            position: absolute;
            top: 2px;
            right: 0;
            font-size: 24px;
            font-weight: 700;
        }
        &:last-child {
            padding-right: 0;
            &:after {
                display: none;
            }
        }
    }
    a {
        font-size: 24px;
        font-weight: 700;
        color: #11142D;
    }
}
.date {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    width: 50px;
    border-radius: 6px;
    padding: 8px 0;
    color: $red;
    pointer-events: none;
    span {
        display: block;
        font-size: 16px;
    }
}
.new-bigs {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    .date {
        background: $red;
        color: #fff;
    }
    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 15px 22px;
        color: #fff;
        pointer-events: none;
        a {
            font-size: 31px;
            font-weight: 700;
            display: block;
            margin-bottom: 20px;
            color: #fff;
        }
    }
    &:after {
        content: "";
        width: 100%;
        background: linear-gradient(180deg, #EE0033 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: matrix(1, 0, 0, -1, 0, 0);
        height: 65%;
        pointer-events: none;
    }
}
.item-news {
    position: relative;
    height: 100%;
    box-shadow: 0px 0px 6px 0px #ddd;
    overflow: hidden;
    color: #6A798C;
    border-radius: 10px;
    .info {
        padding: 20px;
        a {
            font-size: 24px;
            font-weight: 700;
            display: block;
            margin-bottom: 8px;
        }
    }
}
.list-news {
    .row {
        margin: 0 -12px;
        >div {
            padding: 12px;
        }
    }
}
.pagination-news {
    a {
        color: #6A798C;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 5px;
        border: 1px solid #6A798C;
        &.active, &:hover {
            color: #fff;
            background: $red;
            border: 1px solid $red;
        }
    }
}
.news {
    padding: 45px 0;
}
.detail {
    padding: 45px 0;
}
.detail-title {
    h1 {
        font-size: 31px;
        font-weight: 700;
        color: #B00B36;
        line-height: inherit;
    }
    .date-author {
        color: #9A9AB0;
        padding: 5px 0 25px 0;
        li {
            padding-right: 25px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
.the-content {
    p {
        margin-bottom: 20px;
        img {
            max-width: 100%;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.banner-about {
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EE0033 100%);
    }
    .info {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 50px 0;
        box-sizing: border-box;
        z-index: 2;
        color: #fff;
        h1 {
            font-size: 62px;
            font-weight: 700;
        }
    }
}
.contact-info {
    max-width: 830px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    margin-top: -200px;
    border-radius: 8px;
    box-shadow: 1px 1px #ddd;
    box-shadow: 0px 3px 8px #ddd;
    .top {
        padding: 50px 30px;
        font-weight: 700;
        font-size: 16px;
    }
    h1 {
        font-size: 31px;
        margin-bottom: 20px;
        font-weight: 700;
        color: #B00B36;
    }
    ul {
        list-style: none;
    }
}
.frm-contact {
    padding: 30px;
    label {
        display: block;
        font-size: 16px;
        color: #515151;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .txt-ctn {
        width: 100%;
        background: #F7F9FA;
        border: 1.52381px solid #D9E3E8;
        border-radius: 8px;
        height: 55px;
        padding: 0 10px;
    }
    textarea {
        padding: 10px;
        width: 100%;
        background: #F7F9FA;
        border: 1.52381px solid #D9E3E8;
        border-radius: 8px;
        height: 220px;
    }
    .row {
        >div {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-contact{
        width: 100%;
        height: 55px;
        background: #EE0033;
        color: #fff;
        cursor: pointer;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid #EE0033;
        &:hover {
            color: #EE0033;
            background: #fff;
        }
    }
}
.contact {
    padding-bottom: 70px;
}
.product {
    padding: 45px 0 100px 0;
}
.box-about {
    padding: 60px 0;
    color: #fff;
}
.txt-about {
    max-width: 480px;
    font-size: 16px;
    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: initial;
        margin-bottom: 8px;
    }
    .btn-main {
        padding-top: 35px;
        a {
            font-weight: 700;
            color: #fff;
            height: 47px;
            display: inline-flex;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #fff;
            padding: 0 24px;
            &:hover {
                background: #fff;
                color: $red;
            }
        }
    }
}

.box-prd {
    padding: 90px 0;
}
.title {
    margin-bottom: 45px;
    h2 {
        font-size: 48px;
        font-weight: 700;
    }
    a {
        color: $red;
        font-size: 24px;
        font-weight: 700;
    }
    .title-news {
        font-size: 16px;
        font-weight: 500;
        display: inline-flex;
        height: 50px;
        color: #fff;
        background: $red;
        align-items: center;
        border-radius: 5px;
        padding: 0 24px;
        i {
            padding-left: 15px;
        }
    }
}
.box-video {
    padding: 40px 0;
    .title {
        margin-bottom: 20px;
        h2 {
            font-size: 39px;
            color: $red;
        }
    }
}
.info-video {
    position: relative;
}
.play-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-home {
    padding: 60px 0;
    color: #fff;
    font-size: 16px;
    h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .col-md-8 {
        padding-left: 55px;
    }
}
.form-ctn-home {
    .item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .txt-inp {
            font-weight: 400;
            color: #fff;
            height: 48px;
            border-radius: 6px;
            border: 1px solid #fff;
            background: transparent;
            width: 100%;
            padding: 0 15px;
            &::placeholder {
                color: #fff;
                opacity: .8;
            }
        }
        textarea {
            font-weight: 400;
            color: #fff;
            height: 105px;
            border-radius: 6px;
            border: 1px solid #fff;
            background: transparent;
            width: 100%;
            padding: 10px 15px;
            outline: none;
            &::placeholder {
                color: #fff;
                opacity: .8;
            }
        }
    }
    .btn-ctc {
        height: 48px;
        width: 116px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 6px;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            background: #fff;
            color: $red;
        }
    }
}
.box-news {
    padding-bottom: 60px;
    overflow: hidden;
    .container-fluid {
        padding: 0;
        padding-left: calc((100% - 1170px)/2);
    }
}
.item-new-home {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    .info {
        padding: 30px 45px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        color: #fff;
        pointer-events: none;
    }
    h3 {
        a {
            color: #fff;
            font-size: 39px;
            font-weight: 700;
        }
    }
    .more-n {
        padding-top: 25px;
        a {
            font-size: 14px;
            color: #FE517E;
            font-weight: 500;
        }
    }
}
.slide-news {
    margin: 0 -8px;
    padding-top: 20px;
    .item-slide {
        padding: 0 8px;
    }
    .slick-arrow {
        position: absolute;
        top: -42px;
        z-index: 2;
        left: 0;
        &.next {
            left: 50px;
        }
    }
}
.date-home {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    span {
        margin-right: 15px;
        font-weight: 500;
        color: $red;
        background: #fff;
        border-radius: 4px;
        padding: 1px 5px;
    }
}
.box-banner {
    overflow: hidden;
    padding: 60px 0;
}
.slide-banner {
    margin: 0 -8px;
    .item-slide {
        padding: 0 8px;
    }
}
.item-banner {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 45px;
        transition: .4s all !important;
        opacity: 0;
        .info {
            max-width: 480px;
        }
    }
    .date-banner {
        font-weight: 700;
        font-size: 24px;
        color: #515151;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 48px;
        font-weight: 700;
        color: #11142D;
    }
}

.swiper-slide {
  display:flex;
  align-items: center;
  justify-content:center;
  transition:all 200ms linear;
  &.swiper-slide-active {
    .item-banner {
        .caption {
            opacity: 1;
        }
    }
  }
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: unset;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: unset;
}
.ar-swip {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    color: #000000;
    font-size: 40px;
    &.swiper-button-prev {
        left: 14%;
    }
    &.swiper-button-next {
        right: 14%;
    }
}
.modal-dialog {
    max-width: 1100px;
    .close {
        opacity: 1;
        text-shadow: none;
        font-size: 40px;
        color: $red;
        position: relative;
        top: -10px;
    }
}
.content-popup {
    iframe {
        width: 100%;
        height: 500px;
    }
}